body {
  font-size: 14px;
  background-color: #F0EDC5;
  font-family: 'Inter', sans-serif;
}

.imagen1 {
  width: 123px;
  height: 56px;
  background: url("../images/v54_42.png") center/cover no-repeat;
  position: absolute;
  top: 6px;
  left: 119px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: rgba(226, 8, 20, 1);
  position: absolute;
  top: 53px;
  left: 90px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 16px;
}

.textotitulo {
  color: rgba(121, 134, 38, 1);
  position: absolute;
  top: 90px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
}

.fondoverdeclaro {
  width: 100%;
  height: 266px;
  background: rgba(167,173,59,1);
  position: absolute;
  top: 225px;
  left: 0px;
  overflow: hidden;
}
.recetario {
  width: 129px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 250px;
  left: 25px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.textorecetario {
  color: rgba(255,252,252,1);
  position: absolute;
  top: 303px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.textoverdeoscuro {
  height: 265px;
  background: rgba(121,134,38,1);
  position: absolute;
  top: 491px;
  left: 0px;
  overflow: hidden;
  width: 100%;
}
.VideosCocinaSana {
  width: 308px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 519px;
  left: 25px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.textoVideosCocinaSana {
  color: rgba(255,252,252,1);
  position: absolute;
  top: 559px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.fondorosa {
  width: 100%;
    height: 360px;
  background: rgba(240,147,189,1);
  position: absolute;
  top: 756px;
  left: 0px;
  overflow: hidden;
}
.instagram {
  width: 136px;
  color: rgba(204,74,91,1);
  position: absolute;
  top: 783px;
  left: 25px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.textoinstagram {
  width: 100%;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 833px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.textoinstagram2 {
  width: 100%;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 891px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.fondorojo {
  width: 100%;
    height: 355px;
  background: rgba(182,29,30,1);
  position: absolute;
  top: 1116px;
  left: 0px;
  overflow: hidden;
}
.tiendas {
  width: 112px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1155px;
  left: 25px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.textotiendas {
  width: 100%;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 1211px;
  left: 25px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.productores {
  width: 298px;
  color: rgba(226,8,20,1);
  position: absolute;
  top: 1492px;
  left: 14px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.productorestexto {
  width: 100%;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 1557px;
  left: 14px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.imagen2 {
  width: 195px;
  height: 89px;
  background: url("../images/v54_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1793px;
  left: 83px;
  overflow: hidden;
}



.fondoboton1 {
  width: 206px;
  height: 69px;
  background: rgba(167, 173, 59, 1);
  position: absolute;
  top: 1677px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.boton1 {
  width: 311px;
  color: rgba(240, 237, 197, 1);
  font-family: Inter;
  font-weight: normal; 
  font-size: 18px;
  text-align: center;
  border: none; 
  background: none; 
  cursor: pointer; 
}



.fondoboton2 {
  width: 206px;
  height: 69px;
  background: rgba(240, 237, 197, 1);
  position: absolute;
  top: 1323px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.boton2 {
  width: 218px;
  color: rgba(182, 29, 30, 1);
  font-family: Inter;
  font-weight: normal; 
  font-size: 18px;
  text-align: center;
  border: none; 
  background: none; 
  cursor: pointer; 
}




.fondoboton3 {
  width: 206px;
  height: 69px;
  background: rgba(204, 74, 91, 1);
  position: absolute;
  top: 992px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.boton3 {
  width: 188px;
  color: rgba(255, 252, 252, 1);
  font-family: Inter;
  font-weight: normal; 
  font-size: 18px;
  text-align: center;
  border: none; 
  background: none; 
  cursor: pointer; 
}





.fondoboton4 {
  width: 206px;
  height: 69px;
  background: rgba(240, 237, 197, 1);
  position: absolute;
  top: 637px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.boton4 {
  width: 178px;
  color: rgba(121, 134, 38, 1);
  font-family: Inter;
  font-weight: normal; 
  font-size: 18px;
  text-align: center;
  border: none; 
  background: none; 
  cursor: pointer; 
}



.fondoboton5 {
  width: 206px;
  height: 69px;
  background: rgba(240, 237, 197, 1);
  position: absolute;
  top: 379px;
  left: 84px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.boton5 {
  width: 178px;
  color: rgba(121, 134, 38, 1);
  font-family: Inter;
  font-weight: normal; 
  font-size: 18px;
  text-align: center;
  border: none; 
  background: none; 
  cursor: pointer;
}