
body {
  font-size: 14px;
  background-color:#F0EDC5;
  font-family: 'Inter', sans-serif;
}

.imagen1 {
  width: 123px;
  height: 56px;
  background: url("../images/v56_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 18px;
  left: 119px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen2 {
  width: 195px;
  height: 89px;
  background: url("../images/v56_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1431px;
  left: 83px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondoverdeclaro {
  width: 100%;  height: 226px;
  background: rgba(167,173,59,1);
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.recetarios {
  width: 100%;  color: rgba(240,237,197,1);
  position: absolute;
  top: 95px;
  left: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: Extra Bold;
  font-size: 20px;
  text-align: left;
}
.texto1 {
  width: 100%;  color: rgba(255,252,252,1);
  position: absolute;
  top: 143px;
  left: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.fondoverdeoscuro {
  width: 100%;  height: 160%;
  background: rgba(121,134,38,1);
  position: absolute;
  top: 300px;
  left: 0px;
  overflow: hidden;
}
.pecetariana {
  width: 100%;  color: rgba(255,255,255,1);
  position: absolute;
  top: 321px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  text-align: left;
}
.fondonegro {
  width: 241px;
  height: 134px;
  background: rgba(56,59,64,1);
  position: absolute;
  top: 374px;
  left: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.texto2 {
  width: 100%;  color: rgba(240,237,197,1);
  position: absolute;
  top: 544px;
  left: 20px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.boton-1 {
  width: 301px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 737px;
  left: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondoboton1 {
  width: 301px;
  height: 89px;
  background: rgba(167, 173, 59, 1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton1 {
  width: 100%;
  color: rgba(240, 237, 197, 1);
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-2 {
  width: 301px;
  height: 89px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 1287px;
  left: 30px;
  overflow: hidden;
}
.fondoboton2 {
  width: 301px;
  height: 89px;
  background: rgba(167, 173, 59, 1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton2 {
  width: 100%;
  color: rgba(240, 237, 197, 1);
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.omnivora {
  width: 100%;  color: rgba(255,255,255,1);
  position: absolute;
  top: 862px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  text-align: left;
}
.fondoblanco {
  width: 247px;
  height: 134px;
  background: rgba(255,255,255,1);
  position: absolute;
  top: 924px;
  left: 57px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.texto3 {
  width: 100%;  color:rgb(255, 255, 255);
  position: absolute;
  top: 1094px;
  left: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: Regular;
  font-size: 14px;
  text-align: left;
}
.imagen5 {
  width: 205px;
  height: 109px;
  background: url("../images/v57_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 387px;
  left: 78px;
  overflow: hidden;
}
.imagen6 {
  width: 160px;
  height: 134px;
  background: url("../images/v57_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 924px;
  left: 101px;
  overflow: hidden;
}
