body {
  background-color:#F0EDC5;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}


.imagen1 {
  width: 263px;
  height: 120px;
  background: url("../images/v2_795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 16px;
  overflow: hidden;
}
.fondoverdeoscuro {
  width: 100%;
  height: 527px;
  background: rgba(167,173,59,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 577px;
  overflow: hidden;
}
.recetarios {
  width: 595px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 195px;
  left: 658px;
  font-family: Inter;
  font-weight: Extra Bold;
  font-size: 79px;
  opacity: 1;
  text-align: left;
}
.textorecetarios {
  width: 758px;
  color: rgba(255,252,252,1);
  position: absolute;
  top: 332px;
  left: 658px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.fondoverdeclaro {
  width: 100%;
  height: 1400px;  
  background: rgba(121,134,38,1);
  opacity: 1;
  position: absolute;
  top: 593px;
  left: 0px;
  overflow: hidden;
}
.cuadrogris {
  width: 545px;
  height: 278px;
  background: rgba(56,59,64,1);
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 445px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.textopecetariano {
  width: 1250px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1023px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.textoomnivoro {
  width: 1250px;
  color: rgba(240,237,197,1);
  position: absolute;
  top: 1694px;
  left: 160px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.imagen2 {
  width: 502px;
  height: 54px;
  background: url("../images/v3_1323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1233px;
  left: 466px;
  overflow: hidden;
}
.fondoboton {
  width: 502px;
  height: 54px;
  background: rgba(167, 173, 59, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.5s ease, border-bottom 0.5s ease; 
}

.fondoboton a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%; 
}

.fondoboton:hover {
  background: rgba(204,74,91,1); 
}

.boton1 {
  width: 311px;
  color: rgba(240, 237, 197, 1);
  position: absolute;
  top: 18px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}
.imagen3 {
  width: 502px;
  height: 54px;
  background: url("../images/v18_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1904px;
  left: 468px;
  overflow: hidden;
}.fondoboton2 {
  width: 502px;
  height: 54px;
  background: rgba(167, 173, 59, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  cursor: pointer; 
  transition: background-color 0.3s ease, border-bottom 0.3s ease; 
}

.fondoboton2 a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

.fondoboton2:hover {
  background: rgba(204,74,91,1); 
}

.boton2 {
  width: 311px;
  color: rgba(240, 237, 197, 1);
  position: absolute;
  top: 18px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  text-align: center;
}
.imagen4 {
  width: 388px;
  height: 177px;
  background: url("../images/v18_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2049px;
  left: 526px;
  overflow: hidden;
}
.imagen5 {
  width: 465px;
  height: 227px;
  background: url("../images/v14_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 485px;
  overflow: hidden;
}
.pecetariana {
  width: 313px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 648px;
  left: 158px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.omnivora {
  width: 313px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1319px;
  left: 160px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.fondoimagen {
  width: 545px;
  height: 278px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1393px;
  left: 445px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.imagen6{
  width: 354px;
  height: 278px;
  background: url("../images/v14_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1393px;
  left: 544px;
  overflow: hidden;
}
.inicio {
  width: 67px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 16px;
  left: 997px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.sobrenosotros {
  width: 175px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1096px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.contacto {
  width: 110px;
  color: rgba(121,134,38,1);
  position: absolute;
  top: 17px;
  left: 1303px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.imagen7 {
  width: 577px;
  height: 517px;
  background: url("../images/v2_805.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
